.converter_container {
  width: 800px;
  margin: 100px auto;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

svg {
  width: 16px;
  height: 16px;
}
